body {
    /* override value of backgroundColor, foregroundColor and spacing parameters */
    --ag-background-color: black;
    --ag-foreground-color: white;
    --ag-spacing: 12px;
    --ag--text-align: center;
    justify-content: center; /* For flexbox centering (often needed) */
    text-align: center;
    color: white; /* Ensure text is visible */
    --ag-border-color:#272727;
    --ag-accent-color:white;
    --ag-row-hover-color: #353938;
  }
  
  /* Custom styles for ag-Grid header */
  .ag-header-cell-label {
    font-style: italic;
    background: black;
    color:white;
    justify-content: center; /* For flexbox centering (often needed) */
    text-align: center;
    color: white; /* Ensure text is visible */
  }